<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>http://img.dongqiudi.com/uploads/avatar/2015/07/25/QM387nh7As_thumb_1437790672318.jpg</string>
		<key>title</key>
		<string>彩虹</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>88</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://www.feizl.com/upload2007/2011_11/111114031328587.jpg</string>
		<key>title</key>
		<string>大温柔</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>content</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://www.qqzhi.com/uploadpic/2014-06-03/021336609.jpg</string>
		<key>title</key>
		<string>哥哥</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>content</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://diy.qqjay.com/u2/2013/1113/85e665e91ee689602209d9147c31fc4a.jpg</string>
		<key>title</key>
		<string>带鱼🐟🎵</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>愁银</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://k2.jsqq.net/uploads/allimg/1703/7_170312181624_2.jpg</string>
		<key>title</key>
		<string>N9</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>活动是真的，我领到了</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://diy.qqjay.com/u2/2013/0415/d146df69d387c494e70af376a70d6033.jpg</string>
		<key>title</key>
		<string>淡清~如此而已</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>在不</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://k2.jsqq.net/uploads/allimg/1704/7_170417004701_1.jpg</string>
		<key>title</key>
		<string>一胖</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>嘿嘿~</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://img.duoziwang.com/2017/04/13/B2058.jpg</string>
		<key>title</key>
		<string>德里克</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>content</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://diy.qqjay.com/u2/2014/0804/3ce926178a4c7c2a31ed162cc21d8f74.jpg</string>
		<key>title</key>
		<string>嗯哼嗯哼</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>好啊，阿星</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://img1.2345.com/duoteimg/qqTxImg/2013/12/ql_2/12-053016_208.jpg</string>
		<key>title</key>
		<string>开心就好</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>我为例领东西群发的，不好意思啦</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://diy.qqjay.com/u/files/2014/1208/5249d11fc7396cff4cf68b7c75712354.jpg</string>
		<key>title</key>
		<string>冰</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>恩</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://www.ghost64.com/qqtupian/zixunImg/local/2016/11/30/14804708834161.jpg</string>
		<key>title</key>
		<string>🔥</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>1</string>
			<key>content</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://f.hiphotos.baidu.com/zhidao/pic/item/1ad5ad6eddc451da04b67411b0fd5266d1163283.jpg</string>
		<key>title</key>
		<string>古古密陀</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>恩，说好了</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://k1.jsqq.net/uploads/allimg/151208/5-15120P61J10-L.jpg</string>
		<key>title</key>
		<string>果冻</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>content</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://www.qqzhi.com/uploadpic/2014-09-04/180243343.jpg</string>
		<key>title</key>
		<string>影子</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>手动抠鼻</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://p2.gexing.com/G1/M00/FE/59/rBACFFI8ISLhkrV4AAAbUn2neTY582_200x200_3.jpg?recache=20131108</string>
		<key>title</key>
		<string>挥挥手</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>新年好，新年快乐~！</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://up.qqjia.com/z/24/tu29455_18.jpg</string>
		<key>title</key>
		<string>Jason 杰☕️</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>2</string>
			<key>content</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://www.qqzhi.com/uploadpic/2014-09-29/051136605.jpg</string>
		<key>title</key>
		<string>Jessica的小铺</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>广告走一波</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://ss0.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=414326035,3279355919&amp;fm=23&amp;gp=0.jpg</string>
		<key>title</key>
		<string>Gd.Zc</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>哎😔</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>http://tupian.enterdesk.com/2014/mxy/11/5/4/10.jpg</string>
		<key>title</key>
		<string>JINNN</string>
		<key>content</key>
		<dict>
			<key>type</key>
			<string>0</string>
			<key>content</key>
			<string>开吃了叫我一下</string>
		</dict>
	</dict>
</array>
</plist>
